
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
}



#intro-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;

  z-index: 3;             
  pointer-events: none;    

  transition: opacity 0.6s ease;
}

#intro-video.hidden {
  opacity: 0 !important;
}


#bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;

  z-index: -1;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

#bg-image.show {
  opacity: 1;
}



#main-content {
  position: relative;
  z-index: 10;        
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#main-content.show {
  opacity: 1 !important;
  pointer-events: auto !important;
}



.container {
  position: relative;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(15px);
  padding: 25px;

  width: 500px;
  border-radius: 15px;
  margin: 50px auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 20;   
  pointer-events: auto; 
}


.container::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 15px;

  background: linear-gradient(
    90deg,
    #ff0040,
    #ff9100,
    #fff600,
    #00ffea,
    #0077ff,
    #cc00ff,
    #ff0040
  );

  background-size: 500% 500%;
  animation: borderMove 4s linear infinite;

  -webkit-mask: 
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;

  pointer-events: none !important; 
}

@keyframes borderMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 500% 50%; }
}



input, select {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;

  background: rgba(255,255,255,0.15);
  color: rgb(255, 238, 0);

  pointer-events: auto; 
}

input::placeholder {
  color: #eee;
}

button {
  margin-top: 12px;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #ff0084, #ff003b);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}



.result {
  margin-top: 20px;
  padding: 15px;
  border-radius: 12px;
}
