<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Credit card fraud Detection</title>
</head>
<body>
    <div class="card-ui">
<form action="/submit" method="POST">
  <div class="card-brand">SECURE LOGIN</div>
  <form action="/submit" method="POST">
  <div class="card-field">
    <label>Username</label>
    <input type="text" name="username" placeholder="Enter your username">
  </div>

  <div class="card-row">
    <div class="card-field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Enter password">
    </div>

    <div class="card-field">
      <label>CVV Code</label>
      <input type="password" placeholder="***">
    </div>
  </div>
  <div class="card-field">
      <input type="submit" value="Login" class="submit-btn">
    </div>
</form>
</div>

    



</body>
</html>

